body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar{
  margin: 0;
  padding: 16px;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: #F6F6F6;
}

div.content{
  margin: 0px 32px 0px 200px;
  height: 100%;
  padding: 32px 64px;
}

header{
  padding: 10px;
  text-align: center;
}

.header{
  margin-left: 200px;
}

footer{
  text-align: center;
}

.nav-item{
  margin: 8px 0px 8px 0px;
}

.one{
  margin: 0px 200px 0px 200px;
  padding: 0px 200px 0px 200px;
}